@model IEnumerable<AngularDataAccess.Employee>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">Employee Detail</h2>
<br><hr />
<div ng-controller="EmpController">
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <td><b>ID:</b></td>
            <td>{{EmployeeId}}</td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td>{{EmployeeFirstName}}</td>
        </tr>
        <tr>
            <td><b>Surname:</b></td>
            <td>{{EmployeeSurname}}</td>
        </tr>
        <tr>
            <td><b>Identity Type:</b></td>
            <td>{{EmployeeIdentityType}}</td>
        </tr>
        <tr>
            <td><b>Identity Number:</b></td>
            <td>{{EmployeeIdentityNumber}}</td>
        </tr>
        <tr>
            <td><b>DateOfBirth:</b></td>
            <td>{{EmployeeDateOfBirth}}</td>
        </tr>
    </table>
    <p class="btn btn-primary"> @Html.ActionLink("Back to List", "Index", null, new { style = "color:white" })</p>
</div>